// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block.newsletter{
        text-align: center;
        input{
            width: 60%!important;
        }
    }
}
a{
    color: #676767;
    &:hover{
        color: #1d3058;
        text-decoration: none;
    }
    &:focus,
    &:active,
    &:visited{
        color: #676767;
    }
}
p{
    margin-bottom: 0;
}
ul,ol{
    margin: 0;
}
.cms-index-index.page-layout-cms-full-width .nav-sections {
    margin-bottom: 1em;
}
.header.content {
    padding: 0 25px;
    max-width: 100%;
    padding-top: 18px;
    height: 100px;
    display: flex;
}
@media screen and (max-width: 600px){
    .header.content{
        height: 56px;
        padding: 10px 10px 0px 10px;
    }
}
.left-nav{
    display: flex;
}
.logo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    .logo{
        margin: 0;
    }
}
.right-nav{
    display: flex;
}
.block-search {
    width: 220px;
    padding-left: 0;
    input, input[type="text"]{
        padding: 0.45em 0.575em 0.35em 2.25em;
        border: 1px solid #bbbbbb;
        border-radius: 0;
        color: #1d3058;
        -webkit-appearance: none;
        display: block;
        width: 100%;
        transition: border 0.2s,background-color 0.2s;
        font-size: 15px;
        font-weight: normal;
        height: 36px;
        &::placeholder
        { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #676767;
            opacity: 1;
        }
        
    }
    .action.search{
        position: absolute;
        top: 9px;
        left: 10px;
        right: auto;
        padding: 0;
        float: none;
        display: inline-block;
        height: 18px;
        width: 18px;
        background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/search.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: 18px;
        color: #676767;
        &::before{
            display: none;
        }
    }
}
.block-search .control {
    border: none;
}
.block-search .label{
    &::before{
        font-size: 25px;
    }
}
.block-search .nested {
    display: none;
}
@media screen and (max-width: 767px){
    .block-search {
        margin-top: 7px;
    }
}

@media screen and (max-width: 1024px){
    .block-search {
        width: auto;
    }
    .block-search .action.search{
        display: none;
    }
    .block-search .label{
        display: inline-block!important;
    }
}

.user-nav {
    margin-left: auto;
    display: flex;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 0.25em;
        list-style: none;
        a{
            display: block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 30px;
            -webkit-transition: opacity 0.4s ease-in-out;
            -moz-transition: opacity 0.4s ease-in-out;
            -o-transition: opacity 0.4s ease-in-out;
            -ms-transition: opacity 0.4s ease-in-out;
            transition: opacity 0.4s ease-in-out;
        }
        .text {
            display: none;
        }
    }
    .locations a {
        background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/locations.svg');
    }
    .contact>a {
        background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/contact.svg');
    }
    .account>a {
        background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/account.svg');
    }
    .wishlist>a {
        background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/shared/images/site/icons/wishlist-heart-grey-outline.svg');
    }
}
@media screen and (max-width: 600px){
    li.account,
    li.contact {
        display: none;
    }
    

}
@media screen and (max-width: 769px){
    .user-nav {
        li {
        width: 38px;
        height: 38px;
        margin: 0;
        }
    }
}

@media screen and (max-width: 767px){
    .minicart-wrapper {
        margin-top: 0;
    }
}
.minicart-wrapper .action.showcart:before,
.minicart-wrapper .action.showcart.active:before{
    display: block;
    width: 40px;
    height: 36px;
    background: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/minicart.svg') no-repeat center center;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    content: '';
}

.minicart-wrapper .action.showcart .counter.qty{
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -10px;
    display: inline-block;
    background: #638c42;
    border-radius: 50%;
    margin: 0;
    z-index: 20;
    color: #fff;
    min-width: 1.3em;
    min-height: 1.3em;
    line-height: 2.0em;
}

.footer.content{
    border: none;
}
.page-footer{
    background: #fff;
    position: relative;
    padding: 30px 0;
    margin: 40px 0 0;
    border-top: 1px solid #ccc;
}
.custom-title{
    display: inline-block;
    width: 180px;
    height: 23px;
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/ss-friends@2x.png');
    text-indent: 100%;
    overflow: hidden;
    background-size: 100% auto;
    margin-bottom: 0.5em;
}

.footer-bottom{
    .copyright {
        background: #fff;
        font-size: 0.6875em;
        text-align: center;
        color: #676767;
        line-height: 1.75em;
        padding: 10px 0 15px;
        a{
            color: #676767;
        }
    }
    .footer-bottom-img{
        display: flex;
        justify-content: center;
        img{
            height: 60px;
        }
    }
}

.block.newsletter input{
    width: 180px;
    vertical-align: top;
    float: left;
    padding: 0.62em 0.875em;
    height: 35px;

}
.block.newsletter .field .control:before{
    display: none;
}
@media screen and (min-width: 768px){
    .block.newsletter {
        display: inline-block;
        vertical-align: top;
        width: 310px;
        margin: 12px 0 0 2.5%;
        text-align: center;
    }
    
}
@media screen and (max-width:768){
    .block.newsletter{
        text-align: center;
    }
    .block.newsletter input{
        width: 60%;
    }
}
.block.newsletter button{
    text-decoration: none;
    vertical-align: bottom;
    cursor: pointer;
    border: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: #1d3058;
    padding: 9px 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover,&:active,&:focus{
        background-color: #676767;
    }
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background-color: #FFFFFF;
    font-family: 'Poppins',Arial,sans-serif;
    border: 1px solid #bbbbbb;
    border-radius: 0;
    color: #1d3058;
    padding: 0.62em 0.875em;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: border 0.2s,background-color 0.2s;
    font-size: 14px;
    font-weight: 300;
}
.gdpr-privacy-policy {
    font-size: 13px;
    margin-top: 1.25em;
    text-align: center;
}
.minicart-wrapper .block-minicart{
    top: 47px;
    right: 0px;
}
.newfooter {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}
.newfooterinner {
    display: flex;
    flex-basis: 100%;
    width: auto;
    justify-content: center;
}
.footer-blog, .footer-catalogues {
    border: 1px solid #808080;
    vertical-align: middle;
    padding: 0.35em 1em;
    margin: 0 3px;
    display: inline-block;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1em;
}
ul.sn-links li {
    display: inline-block;
    margin: 0 4px 0 0;
    list-style-type: none;
}
ul.sn-links li.facebook a {
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/social-facebook.svg');
}
ul.sn-links li.twitter a {
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/social-twitter.svg');
    background-size: auto 45%;
}
ul.sn-links li.pinterest a {
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/social-pinterest.svg');
}
ul.sn-links li.youtube a {
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/social-youtube.svg');
}
ul.sn-links li.instagram a {
    background-image: url('https://www.seasaltcornwall.co.uk/clients/seasalt/sites/seasalt/resources/frontend/images/site/icons/social-instagram.svg');
}
ul.sn-links li a {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #666666;
    border-radius: 50%;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}