<div class="newfooter">
     <div class="newfooterinner">
          <ul class="sn-links" style="float: left;"> 
          <li class="facebook"><a href="https://www.facebook.com/SeasaltCornwall/" target="_blank" title="Facebook">
           <span role="img" aria-label="Facebook icon"> </span> </a>
        </li> 
        <li class="twitter"><a href="http://www.twitter.com/seasaltclothing" target="_blank" title="Twitter"> <span role="img" aria-label="Google Plus Icon"> </span> </a></li> <li class="pinterest"><a href="http://www.pinterest.com/seasaltclothing/" target="_blank" title="Pinterest"> </a></li> <li class="youtube"><a href="https://www.youtube.com/user/seasaltcornwall" target="_blank" title="Youtube"> <span role="img" aria-label="Youtube icon"> </span></a></li> <li class="instagram"><a href="https://www.instagram.com/seasaltcornwall/" target="_blank" title="Instagram"> <span role="img" aria-label="Instagram icon"> </span> </a></li> </ul> <div style="float: left;"><a href="http://www.seasaltcornwall.co.uk/blog/" class="footer-blog">BLOG</a> <a href="/customer/catalogue" class="footer-catalogues">CATALOGUE</a></div> </div> </div>
<p style="clear: none;" class="copyright">Seasalt - a Cornish fashion company. Women’s clothing, footwear and accessories inspired by the creative and maritime heritage of Cornwall.<br> Registered Office: Unit 8 Falmouth Business Park, Bickland Water Road, Falmouth, Cornwall TR11 4SZ © Seasalt Limited 2005-2019. <a href="/customer/pages/cookies"><br>Cookie Policy</a> | <a href="/customer/pages/terms">Terms &amp; Conditions</a> | <a href="/customer/pages/privacy">Privacy</a> | <a href="/customer/pages/security">Security</a> | <a href="/sitemap/">Sitemap</a></p>