<p class="footer-bottom-img">
    <a href="/customer/pages/about/our_history">
    <img style="outline: 0;" src="https://seasalt.images.blucommerce.com/seasalt/monthly_updates/2017_06/est-1981-adelaide-street-penzance.png?auto=format%2Ccompress&amp;w=380&amp;h=91&amp;fit=fillmax&amp;fill=solid&amp;s=c824eb02925eb0a2a13980df7e2eba6a" alt="Established 1981. Adelaide Street, Penzance.">
    </a>
</p>