<?php
/** @var $block \Magento\Framework\View\Element\Template */
?>
<ul class="user-nav">
    <li class="locations icon">
    <a href="/locations/" title="Find a Shop"><span class="text">Find a Shop</span></a>
    </li>
    <li class="contact icon">
    <a href="/customer/contact" title="Customer Service"><span class="text">Customer Service</span></a>
    </li>
    <li class="account popup icon">
        <a href="/account" title="Log In" class="icon account"><span class="text">My Account</span></a>
    </li>
    <li class="wishlist icon" id="js-wishlist-icon">
        <a href="/wishlist" title="Wish lists"><span class="text">Wish lists</span></a>
    </li>
</ul>