// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

[data-content-type='buttons'] {
    max-width: 100%;
}
[data-content-type="button-item"]{
    padding: 1em;
    a:hover,a:visited,a:focus{
        color: #6d6d6d;
        text-decoration: none;
    }
}
.pagebuilder-button-primary{
    padding: 1em 4em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6d6d6d;
    background: #fff;
    border:1px solid #6d6d6d;
    border-radius: 0;
    cursor: pointer;
    &:hover{
        background: #fff;
        color: #6d6d6d;
        border-color: #6d6d6d;
    }
}