& when (@media-common = true) {
    [data-content-type="products"]{
        .product-reviews-summary,
        .swatch-option,
        .product-item-inner{
            display: none;
        }

    }
    [data-content-type="row"]{
        img{
            width: 100%;
        }
    }
}
// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .overlay{
        .row-full-width-inner{
            position: relative;
            .pagebuilder-column{
                position: absolute;
            }
            figure[data-content-type='image'] img{
                min-width: 100%;
            }
        }
        
    }
    .overlay.content-center{
        .row-full-width-inner{
            .pagebuilder-column{
                max-width: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                bottom: auto;
            }
        }
        
    }
    .overlay.content-right{
        .row-full-width-inner{
            .pagebuilder-column{
                max-width: 50%;
                right: 80px;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
        
    }
    .overlay.content-left{
        .row-full-width-inner{
            .pagebuilder-column{
                max-width: 50%;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
    }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    figure[data-content-type='image'] {
        padding: 0!important;
    }

}