<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block newsletter">
    <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <label class="custom-title">
                    <a href="/customer/newsletter">Join our email list for news and offers!</a>
                </label>
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?= $block->escapeHtml(__('Enter your email..')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                    </label>
                    <div class="actions">
                        <button class="action subscribe primary sr-only"
                                title="<?= $block->escapeHtmlAttr(__('sign-up')) ?>"
                                type="submit"
                                aria-label="Subscribe">
                            <span><?= $block->escapeHtml(__('Sign Up')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="gdpr-privacy-policy">
            <span style="color: #676767;"> By signing up to become a Seasalt Friend you agree to email marketing. For more information please read our</span>
            <a style="color: #1d3058;" target="_blank" href="/customer/pages/privacy"> privacy policy</a>.
        </div>
    </div>
</div>
